---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Soon Antique Row" description="Soon Antique Row">
  <main
    class="container flex flex-col items-center justify-center p-10 bg-white rounded-lg h-screen drop-shadow-md my-16"
  >
    <h1 class="text-4xl font-bold text-center mb-5 text-old-rose-500">
      Soon Antique Row
    </h1>
    <p class="text-lg font-medium text-gray-500 mb-5">
      We are currently working on the website. Please check back soon.
    </p>
    <a
      href="/"
      class="text-white text-xl font-bold px-6 py-4 border border-old-rose-800 bg-old-rose-800 rounded-lg hover:bg-transparent hover:text-old-rose-800 hover:border-old-rose-800 transition-all duration-300 ease"
      >Go back home</a
    >
  </main>
</Layout>
