<section class="container" id="about">
  <main
    class="grid md:grid-cols-2 items-center justify-center gap-2 p-10 rounded-xl drop-shadow-md sm:py-14"
  >
    <div class="flex items-center justify-center w-full">
      <img
        src="/about.webp"
        alt=""
        class="w-96 h-96 rounded-md m-5 drop-shadow-lg"
      />
    </div>
    <div class="w-full">
      <h1
        class="text-xl text-center uppercase px-4 py-2 bg-white rounded-lg drop-shadow-md w-fit"
      >
        About
      </h1>
      <hr
        class="my-6 h-px border-t-0 bg-transparent bg-gradient-to-r from-transparent via-old-rose-800 to-transparent"
      />
      <div class="divide-y divide-solid">
        <p>
          Embark on a journey through a treasure trove of timeless wonders. From
          quaint antique shops to upscale boutiques, each establishment offers a
          unique selection of vintage finds and collectibles. Whether you’re
          Seeking exquisite furniture pieces, rare artifacts, or eclectic decor,
          our directory guides you through the diverse offerings of this
          historic destination.
        </p>
        <br />
        <ul class="flex flex-col gap-2 items-start justify-center">
          <li class="flex gap-2 text-old-rose-500">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="currentColor"
              class="icon icon-tabler icons-tabler-filled icon-tabler-circle-check"
              ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-1.293 5.953a1 1 0 0 0 -1.32 -.083l-.094 .083l-3.293 3.292l-1.293 -1.292l-.094 -.083a1 1 0 0 0 -1.403 1.403l.083 .094l2 2l.094 .083a1 1 0 0 0 1.226 0l.094 -.083l4 -4l.083 -.094a1 1 0 0 0 -.083 -1.32z"
              ></path></svg
            >Historic Architecture
          </li>
          <li class="flex gap-2 text-old-rose-600">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="currentColor"
              class="icon icon-tabler icons-tabler-filled icon-tabler-circle-check"
              ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-1.293 5.953a1 1 0 0 0 -1.32 -.083l-.094 .083l-3.293 3.292l-1.293 -1.292l-.094 -.083a1 1 0 0 0 -1.403 1.403l.083 .094l2 2l.094 .083a1 1 0 0 0 1.226 0l.094 -.083l4 -4l.083 -.094a1 1 0 0 0 -.083 -1.32z"
              ></path></svg
            >
            Elegant Antique Shops
          </li>
          <li class="flex gap-2 text-old-rose-700">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="currentColor"
              class="icon icon-tabler icons-tabler-filled icon-tabler-circle-check"
              ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-1.293 5.953a1 1 0 0 0 -1.32 -.083l-.094 .083l-3.293 3.292l-1.293 -1.292l-.094 -.083a1 1 0 0 0 -1.403 1.403l.083 .094l2 2l.094 .083a1 1 0 0 0 1.226 0l.094 -.083l4 -4l.083 -.094a1 1 0 0 0 -.083 -1.32z"
              ></path></svg
            >
            Art Galleries and Cultural Events
          </li>
        </ul>
      </div>
    </div>
  </main>
</section>
