<section>
  <div class="py-10 sm:py-14">
    <div class="mx-auto max-w-2xl px-6 lg:max-w-7xl lg:px-8">
      <p
        class="mx-auto mt-2 max-w-lg text-balance text-center text-4xl font-semibold tracking-tight text-gray-950 sm:text-5xl capitalize"
      >
        What can you find?
      </p>
      <div class="mt-10 grid gap-4 sm:mt-16 lg:grid-cols-3 lg:grid-rows-2">
        <div class="relative lg:row-span-2">
          <div
            class="absolute inset-px rounded-lg bg-bg-bento1 bg-cover bg-center bg-no-repeat brightness-75 lg:rounded-l-[2rem]"
          >
          </div>
          <div
            class="relative flex h-full flex-col overflow-hidden rounded-[calc(theme(borderRadius.lg)+1px)] lg:rounded-l-[calc(2rem+1px)]"
          >
            <div class="px-8 pb-3 pt-8 sm:px-10 sm:pb-0 sm:pt-10">
              <p
                class="mt-2 text-3xl font-bold tracking-wide text-white max-lg:text-center uppercase"
              >
                Art
              </p>
              <!-- <p
                class="mt-2 max-w-lg text-sm/6 text-gray-600 max-lg:text-center"
              >
                Anim aute id magna aliqua ad ad non deserunt sunt. Qui irure qui
                lorem cupidatat commodo.
              </p> -->
            </div>
          </div>
          <div
            class="pointer-events-none absolute inset-px rounded-lg shadow ring-1 ring-black/5 lg:rounded-l-[2rem]"
          >
          </div>
        </div>
        <div class="relative max-lg:row-start-1">
          <div
            class="absolute inset-px rounded-lg bg-bg-bento2 bg-cover bg-center bg-no-repeat max-lg:rounded-t-[2rem] brightness-75 hover:scale-105 transition-all duration-300 ease-in-out"
          >
          </div>
          <div
            class="relative flex h-[300px] flex-col overflow-hidden rounded-[calc(theme(borderRadius.lg)+1px)] max-lg:rounded-t-[calc(2rem+1px)]"
          >
            <div class="px-8 pt-8 sm:px-10 sm:pt-10">
              <p
                class="mt-2 text-3xl text-gray-100 font-bold tracking-wide max-lg:text-center uppercase"
              >
                Restaurant
              </p>
              <!-- <p
                class="mt-2 max-w-lg text-sm/6 text-gray-600 max-lg:text-center"
              >
                Lorem ipsum, dolor sit amet consectetur adipisicing elit maiores
                impedit.
              </p> -->
            </div>
          </div>
        </div>
        <div class="relative max-lg:row-start-3 lg:col-start-2 lg:row-start-2">
          <div
            class="absolute inset-px rounded-lg bg-bg-bento4 bg-cover bg-center bg-no-repeat brightness-75"
          >
          </div>
          <div
            class="relative flex h-[300px] flex-col overflow-hidden rounded-[calc(theme(borderRadius.lg)+1px)]"
          >
            <div class="px-8 pt-8 sm:px-10 sm:pt-10">
              <p
                class="mt-2 text-3xl font-bold uppercase tracking-wide text-white max-lg:text-center"
              >
                Services
              </p>
              <!-- <p
                class="mt-2 max-w-lg text-sm/6 text-gray-600 max-lg:text-center"
              >
                Morbi viverra dui mi arcu sed. Tellus semper adipiscing
                suspendisse semper morbi.
              </p> -->
            </div>
            <!-- <div
              class="flex flex-1 items-center [container-type:inline-size] max-lg:py-6 lg:pb-2"
            >
              <img
                class="h-[min(152px,40cqw)] object-cover object-center"
                src="https://tailwindui.com/plus/img/component-images/bento-03-security.png"
                alt=""
              />
            </div> -->
          </div>
          <!-- <div
            class="pointer-events-none absolute inset-px rounded-lg shadow ring-1 ring-black/5"
          >
          </div> -->
        </div>
        <div class="relative lg:row-span-2">
          <div
            class="absolute inset-px rounded-lg bg-bg-bento3 bg-cover bg-center bg-no-repeat brightness-[.60] hover:scale-105 transition-all duration-300 ease-in-out max-lg:rounded-b-[2rem] lg:rounded-r-[2rem]"
          >
          </div>
          <div
            class="relative flex h-full flex-col overflow-hidden rounded-[calc(theme(borderRadius.lg)+1px)] max-lg:rounded-b-[calc(2rem+1px)] lg:rounded-r-[calc(2rem+1px)]"
          >
            <div class="px-8 pb-3 pt-8 sm:px-10 sm:pb-0 sm:pt-10">
              <p
                class="mt-2 text-4xl font-bold uppercase tracking-wide text-white max-lg:text-center"
              >
                Antiquies
              </p>
              <!-- <p
                class="mt-2 max-w-lg text-sm/6 text-gray-600 max-lg:text-center"
              >
                Sit quis amet rutrum tellus ullamcorper ultricies libero dolor
                eget sem sodales gravida.
              </p> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
