<section
  class="container flex justify-center items-center gap-4 p-10 bg-bg-antique-2 bg-cover bg-no-repeat h-[700px] rounded-2xl drop-shadow-lg bg-center"
>
  <div
    class="bg-white/60 backdrop:blur-md p-6 flex flex-col justify-center items-center gap-6 max-w-6xl rounded-lg"
  >
    <h1 class="text-5xl font-bold text-center">
      Welcome to <span class="bg-old-rose-500 rounded-md px-2 my-20 text-white"
        >Antique Row</span
      >
      <br /> West Palm Beach
    </h1>
    <div
      class="flex items-center justify-center bg-old-rose-700 px-4 py-2 text-white font-semibold rounded-lg hover:bg-transparent hover:text-old-rose-700 border-[1px] hover:border-old-rose-700 transition-all 2s ease gap-2 cursor-pointer"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="icon icon-tabler icons-tabler-outline icon-tabler-building-store"
        ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
          d="M3 21l18 0"></path><path
          d="M3 7v1a3 3 0 0 0 6 0v-1m0 1a3 3 0 0 0 6 0v-1m0 1a3 3 0 0 0 6 0v-1h-18l2 -4h14l2 4"
        ></path><path d="M5 21l0 -10.15"></path><path d="M19 21l0 -10.15"
        ></path><path d="M9 21v-4a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v4"></path></svg
      >
      <a class="" href="/directory"> View Directory</a>
    </div>
  </div>
</section>
